@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: lightcoral;
}
.content {

  margin: 40px auto;
  padding: 20px;
}
.employee-table {
  padding: 10px 16px;
  margin: 20px 0;
  border: 2px solid blueviolet;
}
.employee-table tr, .employee-table td {
  padding: 10px 16px;
  border: 1px solid black;
}
.employee-preview h2 {
  font-size: 20px;
  color: blue;
  margin-bottom: 8px;
}


.employee-preview a {
  text-decoration: none;
}

.employee-details div {
 margin: 20px 0;
}
.employee-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.employee-details button {
  background:  #f1356d;
  color: white;
  border: 0px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #dddd;
  display: block;
  align-items: center;
  margin: 10px 0 auto;
  border-bottom: 1px solid #f2f2f2;
 }
 .create h2 {
   font-size: 20px;
   color: #f1356d;
   margin-bottom: 30px;
 }
 
 .create button {
   background:  #f1356d;
   color: white;
   border: 0px;
   padding: 10px;
   margin: 10px 0;
   border-radius: 8px;
   cursor: pointer;
 }


 thead button.ascending::after {
  content: '🔼';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '🔽';
  display: inline-block;
  margin-left: 1em;
}


thead button::after {
  content: '🐶';
  display: inline-block;
  margin-left: 1em;
}